{% if title == null and page.title %}{% assign title = page.title %}{% endif %}
{% if title == null and site.title %}{% assign title = site.title %}{% endif %}

{% if header == null and page.header %}{% assign header = page.header %}{% endif %}
{% if header == null and site.header %}{% assign header = site.header %}{% endif %}
{% if header == null and site.title %}{% assign header = site.title %}{% endif %}
{% if header == null and title %}{% assign header = title %}{% endif %}

{% if sub-header == null and page.sub-header %}{% assign sub-header = page.sub-header %}{% endif %}
{% if sub-header == null and site.sub-header %}{% assign sub-header = site.sub-header %}{% endif %}

{% assign unixTimestamp = site.time | date: '%s' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ site.favicon }}">
  <base href="{{ site.baseurl }}">
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- For Google -->
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="author" content="{{ site.owner }}" />

  <!-- For Facebook -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="{{ page.description }}" />

  <!-- For Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.ga }}');
  </script>

  <!-- facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1730425486970212';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/styles.css?{{ unixTimestamp }}">
  <link rel="stylesheet" href="/assets/css/pygments/vs.min.css">
</head>

<body>
  {% include _header.html %}
  <div class="container sections-wrapper">
    <div class="row">
      <div class="primary col-md-8 col-sm-12 col-xs-12">
        {{ content }}
      </div>
      {% include _rightColumn.html %}
    </div>
  </div>
  {% include _footer.html %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/main.js?{{ unixTimestamp }}"></script>
</body>

</html>
